.item {
  min-height: 75px;
  width: 100%;
  background-color: $white-color;
  border-radius: $box-radius-sm;
  padding: $box-padding-sm;
  border: 3px solid transparent;
  &--active {
    border: 3px solid $active-color;
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    height: calc(75px - #{2 * $box-padding-sm});
  }
  &__main--expand {
    display: block;
  }
  &__main > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  &__options {
  }
  &__label {
    display: flex;
    justify-content: space-between;
    padding-right: 1em;
    input {
      width: 100%;
      outline: none;
      padding: 0;
      border: none;
      font-size: 1.5em;
    }
  }
  &__name {
    cursor: pointer;
  }
  &__name--cross {
    text-decoration: line-through;
  }
  &__actions {
    margin-top: 1em;
  }
  &__duration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87px;

    .MuiSvgIcon-root {
      color: $primary-color;
    }
    &--completed {
      .MuiSvgIcon-root {
        color: transparent;
      }
    }
  }
  &__description {
    button {
      font-weight: bolder;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
.item-time-selector {
  margin: 1em 0;
  &__duration {
    margin-bottom: 0.5em;
    display: flex;
    width: 130px;
    justify-content: space-between;
  }
  .MuiFormControl-root {
    width: 86px;
    margin-bottom: 1em;
  }
}
