.timer-button {
  button + button {
    height: 50px;
    color: $white-color;
    background-color: transparent;
  }
  button {
    display: block;
    height: 65px;
    width: 145px;
    font-size: 25px;
    color: $primary-color;
    background-color: $white-color;
    border: none;
    cursor: pointer;
    border-radius: $box-radius-sm;
  }
}
