.timer {
  width: 100%;
  height: 260px;
  padding: $box-padding;
  background-color: $transparent-color;
  border-radius: $box-radius;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
