$primary-color: #05a1ab;
$gray-color: gray;
$white-color: white;
$transparent-color: rgba(255, 255, 255, 0.37);
$active-color: rgba(45, 206, 58, 0.88);
$box-radius: 16px;
$box-radius-sm: 10px;
$box-padding: 16px;
$box-padding-sm: 16px;
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  background-color: $primary-color;
}
button {
  outline: none;
}
.app-container {
  max-width: 560px;
  margin: 0 auto;
  padding: 3vw;
}
.options-button {
  width: 30px;
  padding: 0;
  height: 47px;
  cursor: pointer;
  &--transparent {
    height: 31px;
    width: 27px;
    color: white;
    background-color: $transparent-color;
    border: 1px solid white;
    border-radius: 7px;
  }
}

.check-button {
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  .MuiSvgIcon-root {
    color: white;
  }
  &--checked {
    background-color: $primary-color;
  }
}
